In [38]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import researchpy as rp
from scipy import stats

# Connect with SQL and download data
## Only User ID, password is provided, therefore, we have to first connect to db server, get list of DBs, 
## Then connect to required DB, get list of tables, 
## Finally connect to data to read the data

In [42]:
# Connect with DB and get list of DBs
connString = 'mysql+pymysql://dm_team:dm_team123#@18.136.56.185:3306'
conn = create_engine(connString)
stmt = "show databases"
df1 = pd.read_sql(stmt,conn)
df1.head()

             Database
0  information_schema
1        project_itsm

In [43]:
# Since there is only 1 DB we select the same to get list of tables
connString = 'mysql+pymysql://dm_team:dm_team123#@18.136.56.185:3306/project_itsm'
conn = create_engine(connString)
stmt = "show tables"
df1 = pd.read_sql(stmt,conn)
df1.head()

  Tables_in_project_itsm
0           dataset_list

In [44]:
# Read the table
# Since there is only 1 DB we select the same to get list of tables
connString = 'mysql+pymysql://dm_team:dm_team123#@18.136.56.185:3306/project_itsm'
conn = create_engine(connString)
stmt = "select * from dataset_list"
df1 = pd.read_sql(stmt,conn)

# Add column Names
df1.columns =  ['c_CI_Name',
                'c_CI_Cat',
                'c_CI_Subcat',
                'c_WBS',
                'c_Incident_ID',
                'c_Status',
                'c_Impact',
                'c_Urgency',
                'y_Priority',
                'q_number_cnt',
                'c_Category',
                'c_KB_number',
                'c_Alert_Status',
                'q_No_of_Reassignments',
                't_Open_Time',
                't_Reopen_Time',
                't_Resolved_Time',
                't_Close_Time',
                'q_Handle_Time_hrs',
                'c_Closure_Code',
                'q_No_of_Related_Interactions',
                'c_Related_Interaction',
                'q_No_of_Related_Incidents',
                'q_No_of_Related_Changes',
                'c_Related Change',
                ]

# Index the columns to keep catagorical, continous and outcome separately
df1=df1.sort_index(axis=1)

df1.head()

,c_Alert_Status,c_CI_Cat,c_CI_Name,c_CI_Subcat,c_Category,c_Closure_Code,c_Impact,c_Incident_ID,c_KB_number,c_Related Change,...,q_No_of_Reassignments,q_No_of_Related_Changes,q_No_of_Related_Incidents,q_No_of_Related_Interactions,q_number_cnt,t_Close_Time,t_Open_Time,t_Reopen_Time,t_Resolved_Time,y_Priority
0,closed,subapplication,SUB000508,Web Based Application,incident,Other,4,IM0000004,KM0000553,,...,26,,2,1,0.601292279,04-11-2013 13:51,05-02-2012 13:32,,04-11-2013 13:50,4
1,closed,application,WBA000124,Web Based Application,incident,Software,3,IM0000005,KM0000611,,...,33,,1,1,0.415049969,02-12-2013 12:36,12-03-2012 15:44,02-12-2013 12:31,02-12-2013 12:36,3
2,closed,application,DTA000024,Desktop Application,request for information,No error - works as designed,NS,IM0000006,KM0000339,,...,3,,,1,0.517551335,13-01-2014 15:13,29-03-2012 12:36,,13-01-2014 15:12,NA
3,closed,application,WBA000124,Web Based Application,incident,Operator error,4,IM0000011,KM0000611,,...,13,,,1,0.642927218,14-11-2013 09:31,17-07-2012 11:49,,14-11-2013 09:31,4
4,closed,application,WBA000124,Web Based Application,incident,Other,4,IM0000012,KM0000611,,...,2,,,1,0.345258343,08-11-2013 13:55,10-08-2012 11:01,,08-11-2013 13:55,4

In [45]:
df1.columns

Index(['c_Alert_Status', 'c_CI_Cat', 'c_CI_Name', 'c_CI_Subcat', 'c_Category',
       'c_Closure_Code', 'c_Impact', 'c_Incident_ID', 'c_KB_number',
       'c_Related Change', 'c_Related_Interaction', 'c_Status', 'c_Urgency',
       'c_WBS', 'q_Handle_Time_hrs', 'q_No_of_Reassignments',
       'q_No_of_Related_Changes', 'q_No_of_Related_Incidents',
       'q_No_of_Related_Interactions', 'q_number_cnt', 't_Close_Time',
       't_Open_Time', 't_Reopen_Time', 't_Resolved_Time', 'y_Priority'],
      dtype='object')

# Delete the columns / Rows that are not relevant to the project or preditionc
## The list of columns was arrived at by analysing the data based on the domain knowlege of the project. See spreadsheet - "project_itsm.xlsx"

In [46]:
#df1 = df0_back.copy()
df1.shape

(46606, 25)

In [47]:
# Create a backup
df0_back = df1.copy()
# Dump and mask
#df0_back.to_csv("0_ITSM_File.csv",index=False)

In [48]:
# Create Delete list ( 12 features - Category or 'type of ticket' will be deleted later)
DeletColList = [
                'c_Incident_ID',
                'c_Status',
                'c_Impact',
                'c_Urgency',
#                'c_Category',
                'c_KB_number',
                'c_Alert_Status',
                't_Resolved_Time',
                'c_Related_Interaction',
                'q_No_of_Related_Changes',
                'c_Related Change',
                'q_number_cnt',
                'q_Handle_Time_hrs'
               ]

# Delete the listed columns / features
df1.drop(DeletColList, inplace=True, axis=1)

In [49]:
print(df1.shape)
df1.head()

(46606, 13)

,c_CI_Cat,c_CI_Name,c_CI_Subcat,c_Category,c_Closure_Code,c_WBS,q_No_of_Reassignments,q_No_of_Related_Incidents,q_No_of_Related_Interactions,t_Close_Time,t_Open_Time,t_Reopen_Time,y_Priority
0,subapplication,SUB000508,Web Based Application,incident,Other,WBS000162,26,2,1,04-11-2013 13:51,05-02-2012 13:32,,4
1,application,WBA000124,Web Based Application,incident,Software,WBS000088,33,1,1,02-12-2013 12:36,12-03-2012 15:44,02-12-2013 12:31,3
2,application,DTA000024,Desktop Application,request for information,No error - works as designed,WBS000092,3,,1,13-01-2014 15:13,29-03-2012 12:36,,NA
3,application,WBA000124,Web Based Application,incident,Operator error,WBS000088,13,,1,14-11-2013 09:31,17-07-2012 11:49,,4
4,application,WBA000124,Web Based Application,incident,Other,WBS000088,2,,1,08-11-2013 13:55,10-08-2012 11:01,,4

## Delete all rows which are not inidents. The prediction task is scoped only for incidents.
## All other type of tickets, complains, RFC, RFI will be deleted

In [50]:
# Find count of type of incidents
pd.crosstab(df1.c_CI_Cat,df1.c_Category,margins='all')

c_Category,complaint,incident,request for change,request for information,All
c_CI_Cat,,,,,
,0,97,0,14,111
Phone,0,2,0,0,2
application,0,25370,1,7529,32900
applicationcomponent,0,5,0,0,5
computer,0,3544,0,99,3643
database,0,213,0,1,214
displaydevice,0,163,0,49,212
hardware,7,384,0,51,442
networkcomponents,0,95,0,12,107
officeelectronics,0,152,0,0,152
software,0,305,0,28,333
storage,4,630,0,69,703
subapplication,0,6788,0,994,7782
All,11,37748,1,8846,46606

In [51]:
# Copy data related to incidents into a new data frame. All other ticket types are not relevant 46606 reduces to 37748
df1_back = df1.copy()
df1 = df1[df1.c_Category== 'incident']

In [52]:
df1.shape

(37748, 13)

## Convert the data types

In [53]:
print("Before Conversion:",df1.info())

# Convert data to correct data types
convert_col_list = list(['q_No_of_Reassignments','q_No_of_Related_Incidents','q_No_of_Related_Interactions'])
df1[convert_col_list] = df1[convert_col_list].apply(pd.to_numeric, errors='coerce') 

# Check data types again - total 4617 rows and all columns have been converted correctly
print("After Conversion:",df1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37748 entries, 0 to 46605
Data columns (total 13 columns):
c_CI_Cat                        37748 non-null object
c_CI_Name                       37748 non-null object
c_CI_Subcat                     37748 non-null object
c_Category                      37748 non-null object
c_Closure_Code                  37748 non-null object
c_WBS                           37748 non-null object
q_No_of_Reassignments           37748 non-null object
q_No_of_Related_Incidents       37748 non-null object
q_No_of_Related_Interactions    37748 non-null object
t_Close_Time                    37748 non-null object
t_Open_Time                     37748 non-null object
t_Reopen_Time                   37748 non-null object
y_Priority                      37748 non-null object
dtypes: object(13)
memory usage: 4.0+ MB
Before Conversion: None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 37748 entries, 0 to 46605
Data columns (total 13 columns):
c_CI_Cat                        37748 non-null object
c_CI_Name                       37748 non-null object
c_CI_Subcat                     37748 non-null object
c_Category                      37748 non-null object
c_Closure_Code                  37748 non-null object
c_WBS                           37748 non-null object
q_No_of_Reassignments           37748 non-null int64
q_No_of_Related_Incidents       1152 non-null float64
q_No_of_Related_Interactions    37636 non-null float64
t_Close_Time                    37748 non-null object
t_Open_Time                     37748 non-null object
t_Reopen_Time                   37748 non-null object
y_Priority                      37748 non-null object
dtypes: float64(2), int64(1), object(10)
memory usage: 4.0+ MB
After Conversion: None

###  Check to see if all converted columns have a proper data. Cross tab helps to find data across different values of data column
### The total should mtach to 37748. all the columns should have either an integre value or zero.

In [54]:
# This data and conversion looks fine
pd.crosstab(df1.q_No_of_Reassignments,df1.c_Category,margins='all')

c_Category             incident    All
q_No_of_Reassignments
0                         23064  23064
1                          6222   6222
2                          3503   3503
3                          1764   1764
4                          1099   1099
5                           612    612
6                           435    435
7                           286    286
8                           184    184
9                           134    134
10                          101    101
11                           78     78
12                           41     41
13                           46     46
14                           31     31
15                           34     34
16                           17     17
17                           23     23
18                           12     12
19                            8      8
20                            7      7
21                           10     10
22                            9      9
23                            4      4
24                            2      2
25                            7      7
26                            4      4
27                            1      1
30                            2      2
32                            2      2
33                            3      3
36                            1      1
42                            1      1
46                            1      1
All                       37748  37748

In [55]:
pd.crosstab(df1.q_No_of_Related_Incidents,df1.c_Category,margins='all')

c_Category                 incident   All
q_No_of_Related_Incidents
1.0                             994   994
2.0                              70    70
3.0                              19    19
4.0                              12    12
5.0                               7     7
6.0                               8     8
7.0                               4     4
8.0                               5     5
9.0                               6     6
10.0                              2     2
11.0                              4     4
12.0                              4     4
13.0                              1     1
14.0                              1     1
15.0                              1     1
16.0                              3     3
17.0                              3     3
21.0                              1     1
23.0                              1     1
24.0                              2     2
25.0                              1     1
26.0                              1     1
54.0                              1     1
63.0                              1     1
All                            1152  1152

In [56]:
# Set all null values to zero
print("Before setting of null:",df1.q_No_of_Related_Incidents.isnull().sum())
df1.loc[df1.q_No_of_Related_Incidents.isnull()==True,'q_No_of_Related_Incidents']=0
print("After setting of null:",df1.q_No_of_Related_Incidents.isnull().sum())

Before setting of null: 36596
After setting of null: 0

In [57]:
df1.shape

(37748, 13)

In [58]:
pd.crosstab(df1.q_No_of_Related_Interactions,df1.c_Category,margins='all')

c_Category                    incident    All
q_No_of_Related_Interactions
1.0                              34940  34940
2.0                               2134   2134
3.0                                323    323
4.0                                 96     96
5.0                                 29     29
6.0                                 15     15
7.0                                 12     12
8.0                                  6      6
9.0                                  5      5
10.0                                 3      3
11.0                                 2      2
12.0                                 6      6
13.0                                 4      4
14.0                                 2      2
15.0                                 3      3
16.0                                 2      2
17.0                                 2      2
18.0                                 2      2
19.0                                 3      3
20.0                                 5      5
21.0                                 1      1
22.0                                 3      3
23.0                                 2      2
24.0                                 1      1
25.0                                 1      1
26.0                                 2      2
27.0                                 1      1
28.0                                 2      2
29.0                                 2      2
30.0                                 1      1
31.0                                 1      1
33.0                                 2      2
34.0                                 2      2
37.0                                 1      1
39.0                                 2      2
40.0                                 1      1
41.0                                 1      1
42.0                                 3      3
43.0                                 1      1
44.0                                 2      2
45.0                                 2      2
54.0                                 1      1
55.0                                 1      1
57.0                                 1      1
74.0                                 1      1
88.0                                 1      1
118.0                                1      1
288.0                                1      1
370.0                                1      1
All                              37636  37636

In [59]:
# Set all null values to zero
print("Before setting of null:",df1.q_No_of_Related_Interactions.isnull().sum())
df1.loc[df1.q_No_of_Related_Interactions.isnull()==True,'q_No_of_Related_Interactions']=0
print("After setting of null:",df1.q_No_of_Related_Interactions.isnull().sum())

Before setting of null: 112
After setting of null: 0

In [60]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37748 entries, 0 to 46605
Data columns (total 13 columns):
c_CI_Cat                        37748 non-null object
c_CI_Name                       37748 non-null object
c_CI_Subcat                     37748 non-null object
c_Category                      37748 non-null object
c_Closure_Code                  37748 non-null object
c_WBS                           37748 non-null object
q_No_of_Reassignments           37748 non-null int64
q_No_of_Related_Incidents       37748 non-null float64
q_No_of_Related_Interactions    37748 non-null float64
t_Close_Time                    37748 non-null object
t_Open_Time                     37748 non-null object
t_Reopen_Time                   37748 non-null object
y_Priority                      37748 non-null object
dtypes: float64(2), int64(1), object(10)
memory usage: 4.0+ MB

In [61]:
#Convert all dates into datatype Date, if any blanks or errors it will convery to 'NaT'
df1.t_Open_Time = pd.to_datetime(df1.t_Open_Time,dayfirst=True)
df1.t_Reopen_Time = pd.to_datetime(df1.t_Reopen_Time,dayfirst=True)
df1.t_Close_Time = pd.to_datetime(df1.t_Close_Time,dayfirst=True)

In [62]:
df1.info()
#print(df1.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37748 entries, 0 to 46605
Data columns (total 13 columns):
c_CI_Cat                        37748 non-null object
c_CI_Name                       37748 non-null object
c_CI_Subcat                     37748 non-null object
c_Category                      37748 non-null object
c_Closure_Code                  37748 non-null object
c_WBS                           37748 non-null object
q_No_of_Reassignments           37748 non-null int64
q_No_of_Related_Incidents       37748 non-null float64
q_No_of_Related_Interactions    37748 non-null float64
t_Close_Time                    37748 non-null datetime64[ns]
t_Open_Time                     37748 non-null datetime64[ns]
t_Reopen_Time                   1594 non-null datetime64[ns]
y_Priority                      37748 non-null object
dtypes: datetime64[ns](3), float64(2), int64(1), object(7)
memory usage: 4.0+ MB

In [63]:
df1.head()

,c_CI_Cat,c_CI_Name,c_CI_Subcat,c_Category,c_Closure_Code,c_WBS,q_No_of_Reassignments,q_No_of_Related_Incidents,q_No_of_Related_Interactions,t_Close_Time,t_Open_Time,t_Reopen_Time,y_Priority
0,subapplication,SUB000508,Web Based Application,incident,Other,WBS000162,26,2.0,1.0,2013-11-04 13:51:00,2012-02-05 13:32:00,NaT,4
1,application,WBA000124,Web Based Application,incident,Software,WBS000088,33,1.0,1.0,2013-12-02 12:36:00,2012-03-12 15:44:00,2013-12-02 12:31:00,3
3,application,WBA000124,Web Based Application,incident,Operator error,WBS000088,13,0.0,1.0,2013-11-14 09:31:00,2012-07-17 11:49:00,NaT,4
4,application,WBA000124,Web Based Application,incident,Other,WBS000088,2,0.0,1.0,2013-11-08 13:55:00,2012-08-10 11:01:00,NaT,4
5,application,WBA000124,Web Based Application,incident,Other,WBS000088,4,0.0,1.0,2013-11-08 13:54:00,2012-08-10 11:27:00,NaT,4

In [64]:
# Using Reopen time stamp to create a flag (0-Ticket was not reopend,1-ticket was reopened)
df1.loc[df1.t_Reopen_Time.isna()==True,'t_ReopenFlag']=0
df1.loc[df1.t_Reopen_Time.isna()==False,'t_ReopenFlag']=1

In [65]:
# Delete t_Reopen_Time & Category column
DeletColList = ['t_Reopen_Time','c_Category']

# Delete the listed columns / features
df1.drop(DeletColList, inplace=True, axis=1)

df1.head()

,c_CI_Cat,c_CI_Name,c_CI_Subcat,c_Closure_Code,c_WBS,q_No_of_Reassignments,q_No_of_Related_Incidents,q_No_of_Related_Interactions,t_Close_Time,t_Open_Time,y_Priority,t_ReopenFlag
0,subapplication,SUB000508,Web Based Application,Other,WBS000162,26,2.0,1.0,2013-11-04 13:51:00,2012-02-05 13:32:00,4,0.0
1,application,WBA000124,Web Based Application,Software,WBS000088,33,1.0,1.0,2013-12-02 12:36:00,2012-03-12 15:44:00,3,1.0
3,application,WBA000124,Web Based Application,Operator error,WBS000088,13,0.0,1.0,2013-11-14 09:31:00,2012-07-17 11:49:00,4,0.0
4,application,WBA000124,Web Based Application,Other,WBS000088,2,0.0,1.0,2013-11-08 13:55:00,2012-08-10 11:01:00,4,0.0
5,application,WBA000124,Web Based Application,Other,WBS000088,4,0.0,1.0,2013-11-08 13:54:00,2012-08-10 11:27:00,4,0.0

In [66]:
# Check is all the outcome varibales are labled.
# There are 1335 records which are not labled. hence these records too
# Run each one of the below commands sequentiallu to understansd the final data set for any missing records
#pd.crosstab(df1.c_CI_Cat,df1.y_Priority,margins='All')
#pd.crosstab(df1.c_CI_Subcat,df1.y_Priority,margins='All')
#pd.crosstab(df1.c_CI_Name,df1.y_Priority,margins='All')
#pd.crosstab(df1.c_Closure_Code,df1.y_Priority,margins='All')
#pd.crosstab(df1.c_WBS,df1.y_Priority,margins='All')
#pd.crosstab(df1.q_No_of_Reassignments,df1.y_Priority,margins='All')
#pd.crosstab(df1.q_No_of_Related_Incidents,df1.y_Priority,margins='All')
pd.crosstab(df1.t_ReopenFlag,df1.y_Priority,margins='All')

y_Priority    1    2     3      4     5    NA    All
t_ReopenFlag
0.0           0  678  4979  21203  8001  1293  36154
1.0           3   12   184    977   376    42   1594
All           3  690  5163  22180  8377  1335  37748

In [67]:
# Remove all (priority='NA') labeled records as there is ni way to ascertain them as well.
print('count of priority being NA:',df1[df1.y_Priority == 'NA'].y_Priority.count())
df1 = df1[df1.y_Priority != 'NA']
print('count of priority post deletion of NA:',df1[df1.y_Priority == 'NA'].y_Priority.count())
print(df1.shape)

# Remove all records where CI_category = blank
print('count where category is blank:',df1[df1.c_CI_Cat == ''].c_CI_Cat.count())
df1=df1[df1.c_CI_Cat != '']
print('count of category post deletion of blank:',df1[df1.c_CI_Cat == ''].c_CI_Cat.count())
print(df1.shape)

# Remove all records where closure code = blank
print('count where closure code is blank:',df1[df1.c_Closure_Code == ''].c_Closure_Code.count())
df1=df1[df1.c_Closure_Code != '']
print('count post deletion closure code = blank:',df1[df1.c_Closure_Code == ''].c_Closure_Code.count())
print(df1.shape)

count of priority being NA: 1335
count of priority post deletion of NA: 0
(36413, 12)
count where category is blank: 94
count of category post deletion of blank: 0
(36319, 12)
count where closure code is blank: 449
count post deletion closure code = blank: 0
(35870, 12)

### Remove all the duplicate records as it doent add variablity

In [68]:
# Find and Delete Duplicate rows - 24 Dulicate rows found
df1.duplicated().sum()

24

In [69]:
print(df1.shape)
df1.drop_duplicates(inplace=True)
print(df1.shape)

(35870, 12)
(35846, 12)

## Calculate Ticket WIP Duration

In [70]:
df1['t_TicketWIPDurationDays'] = (df1.t_Close_Time - df1.t_Open_Time)
df1['t_TicketWIPDurationDays'] = df1['t_TicketWIPDurationDays']/(np.timedelta64(1,'s')*3600*24)
df1.shape

(35846, 13)

## Save Cleansed File without encoding

In [71]:
# Create Back up of original file.. This file will be used for all future imports. masked after saving the file
#df1.to_csv("1_ITSM_cleansedFile.csv",index=False)

## Deletion for futher Columns
## CI-Name is like ID Column, Category_CI and Sub cat CI
## are just two levels of abstractions so we keep only 
## Cat CI

In [72]:
# Delete t_Reopen_Time & Category column
#DeletColList = ['c_CI_Name','c_CI_Subcat']

# Delete the listed columns / features
#df1.drop(DeletColList, inplace=True, axis=1)

# Index the columns to keep catagorical, continous and outcome separately
#df1=df1.sort_index(axis=1)

df1.head()

,c_CI_Cat,c_CI_Name,c_CI_Subcat,c_Closure_Code,c_WBS,q_No_of_Reassignments,q_No_of_Related_Incidents,q_No_of_Related_Interactions,t_Close_Time,t_Open_Time,y_Priority,t_ReopenFlag,t_TicketWIPDurationDays
0,subapplication,SUB000508,Web Based Application,Other,WBS000162,26,2.0,1.0,2013-11-04 13:51:00,2012-02-05 13:32:00,4,0.0,638.013194
1,application,WBA000124,Web Based Application,Software,WBS000088,33,1.0,1.0,2013-12-02 12:36:00,2012-03-12 15:44:00,3,1.0,629.869444
3,application,WBA000124,Web Based Application,Operator error,WBS000088,13,0.0,1.0,2013-11-14 09:31:00,2012-07-17 11:49:00,4,0.0,484.904167
4,application,WBA000124,Web Based Application,Other,WBS000088,2,0.0,1.0,2013-11-08 13:55:00,2012-08-10 11:01:00,4,0.0,455.120833
5,application,WBA000124,Web Based Application,Other,WBS000088,4,0.0,1.0,2013-11-08 13:54:00,2012-08-10 11:27:00,4,0.0,455.102083

## Label encoding

In [73]:
df1.columns

Index(['c_CI_Cat', 'c_CI_Name', 'c_CI_Subcat', 'c_Closure_Code', 'c_WBS',
       'q_No_of_Reassignments', 'q_No_of_Related_Incidents',
       'q_No_of_Related_Interactions', 't_Close_Time', 't_Open_Time',
       'y_Priority', 't_ReopenFlag', 't_TicketWIPDurationDays'],
      dtype='object')

In [74]:

enc = LabelEncoder()
# List of varibales that need to be endocded... c_Phone doent need to be coded as the data is already unique
CatVarList = ['c_CI_Cat', 'c_CI_Name', 'c_CI_Subcat', 'c_Closure_Code', 'c_WBS','t_ReopenFlag','y_Priority']
for i in CatVarList:
    df1[[i]] = enc.fit_transform(df1[[i]])

df1.head()

E:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
E:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
E:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
E:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
E:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
E:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
E:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,c_CI_Cat,c_CI_Name,c_CI_Subcat,c_Closure_Code,c_WBS,q_No_of_Reassignments,q_No_of_Related_Incidents,q_No_of_Related_Interactions,t_Close_Time,t_Open_Time,y_Priority,t_ReopenFlag,t_TicketWIPDurationDays
0,11,2313,54,4,126,26,2.0,1.0,2013-11-04 13:51:00,2012-02-05 13:32:00,3,0,638.013194
1,1,2415,54,6,65,33,1.0,1.0,2013-12-02 12:36:00,2012-03-12 15:44:00,2,1,629.869444
3,1,2415,54,3,65,13,0.0,1.0,2013-11-14 09:31:00,2012-07-17 11:49:00,3,0,484.904167
4,1,2415,54,4,65,2,0.0,1.0,2013-11-08 13:55:00,2012-08-10 11:01:00,3,0,455.120833
5,1,2415,54,4,65,4,0.0,1.0,2013-11-08 13:54:00,2012-08-10 11:27:00,3,0,455.102083

## Save the imported Data into excel file - 1_ITSM_cleansed_Encoded.csv

In [75]:
# Saving the file with normal encoding. and Masked after saving
df1.to_csv("1_ITSM_cleansed_Encoded_All.csv",index=False)

In [76]:
df1.columns

Index(['c_CI_Cat', 'c_CI_Name', 'c_CI_Subcat', 'c_Closure_Code', 'c_WBS',
       'q_No_of_Reassignments', 'q_No_of_Related_Incidents',
       'q_No_of_Related_Interactions', 't_Close_Time', 't_Open_Time',
       'y_Priority', 't_ReopenFlag', 't_TicketWIPDurationDays'],
      dtype='object')

In [77]:
df1.head()

,c_CI_Cat,c_CI_Name,c_CI_Subcat,c_Closure_Code,c_WBS,q_No_of_Reassignments,q_No_of_Related_Incidents,q_No_of_Related_Interactions,t_Close_Time,t_Open_Time,y_Priority,t_ReopenFlag,t_TicketWIPDurationDays
0,11,2313,54,4,126,26,2.0,1.0,2013-11-04 13:51:00,2012-02-05 13:32:00,3,0,638.013194
1,1,2415,54,6,65,33,1.0,1.0,2013-12-02 12:36:00,2012-03-12 15:44:00,2,1,629.869444
3,1,2415,54,3,65,13,0.0,1.0,2013-11-14 09:31:00,2012-07-17 11:49:00,3,0,484.904167
4,1,2415,54,4,65,2,0.0,1.0,2013-11-08 13:55:00,2012-08-10 11:01:00,3,0,455.120833
5,1,2415,54,4,65,4,0.0,1.0,2013-11-08 13:54:00,2012-08-10 11:27:00,3,0,455.102083